.parallax-container#index-banner
  .section.no-pad-bot.no-pad-top
    .container
      %br
      %br
      %h1.header.center= @jumbotron.title
      .row.center
        %h5.header.col.s12.light= @jumbotron.subtitle
      .row.center
        = link_to 'Azandria', 'http://azandria.com', class: 'btn-large waves-effect'
      - if @jumbotron.quote.present?
        .row.center.jumbotron-quote= @jumbotron.quote.html_safe
  .parallax
    = image_tag @jumbotron.image_url, alt: @jumbotron.image_description,
      title: @jumbotron.image_description, class: 'parallax-image'

.container
  .section
    .row
      - first_three_posts.each do |post|
        .col.s12.m6.l4
          = render 'post_abstract', :post => post
  - next_hundred_posts_after_three.each do |post|
    .row
      .col.s12.m12.l12
        = render 'post_abstract', :post => post
