.container
  .section
    .row.post-title
      %h1= post.title
    .divider
    .row.post-content
      .col.s12.m8.l6.offset-s0.offset-m2.offset-l3
        %p= markdown(post.content)
        .tags
          = "Tags: #{tags_links(post)}".html_safe
        %p= l post.created_at, format: :long

        = link_to t('.back'), posts_path, class: 'btn btn-default'


