- model_class = Post
.page-header
  %h1= t '.title', :default => Post

.fieldset
  %dl
    %dt.label.label-default= model_class.human_attribute_name(:title)
    %dd
      %pre.prettyprint= @post.title
    %dt.label.label-default= model_class.human_attribute_name(:content)
    %dd
      %pre.prettyprint= @post.content

.form-group
  = link_to t('.back', :default => t("helpers.links.back")), posts_path, :class => 'btn btn-default'

